  
  <% if user_signed_in? %>
    </br> <p type="button" class="btn btn-info"><%= link_to 'card', carts_index_path %></p>
  <% end %>

  <% if user_signed_in? %>
    <p type="button" class="btn btn-info"><%= link_to 'my_order', orders_path %></p>
  <% end %>

 <table class="table">
    <thead>
      <tr>
       <th>picture</th>
       <th>title</th>
       <th>Price</th>
       <th>description</th>
       <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= image_tag(product.avatars.last, height: '100', width: '80') %></td>
          <td><%= product.title %></td>
       
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td type="button" class="btn btn-info"><%= link_to 'Show', product_path(product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


