<div class="row">
  <div class="col-sm-4">
    <%= image_tag(@product.avatars.last, height: '450', width: '400') %>
    <% if user_signed_in? %>
      <p  class="btn btn-info">
        <%= link_to "Add to Cart", add_to_cart_cart_path(:product_id => @product), :method => :post %></br>
      </p>
    <% end %>     
  </div>
  
  <div class="col-sm-8" >
    <p>
  	  <strong>title: </strong>
    	<%= @product.title %>
    </p>
    
    <p>
    	<strong>Price: </strong>
  	  <%= @product.price %>
    </p>
    <p>
  	  <strong>description: </strong>
    	<%= @product.description %>
    </p>
    <% if seller_signed_in?%>
      <p type="button" class="btn btn-info" >
        <%= link_to 'back', seller_product_path %>
      </p>
    <% else %>
      <p type="button" class="btn btn-info">
        <%= link_to 'back', products_path %>
      </p>
    <% end %>
  </div> 
</div> 
    
